.vcard{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: #whitesmoke;
    padding-rigth: 0px;
}

.contacto .small{
    font-size: 25px;
}

.contacto p{
    text-align:center;
    color: #656565;
    font-family: 'Tangerine', serif;
    font-size: 30px;
    text-shadow: 4px 4px 4px #aaa;
}

.contacto{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: whiteSmoke;
    padding-top: 15px;
}

.tab-content p, dt, h5 {
    font-family: 'Bilbo', serif;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 20px;
}


.nav-tabs li a:hover {
    color:#ffffff;
    text-decoration:none;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
    background-color:#7DDF9F;
}

.nav-tabs .active a:hover {
    background-color: #70AD85;
}

.nav-tabs .active a {
    background-color: #55C47B;
}

#bio .left {
    float:left;
}

.bottom {
    vertical-align: bottom;
}

#fixedbox {
    min-height: 414px;
}

#bio p{
    text-indent: 5px;
}

.contacto a {
    color: #225f2a;
}



